/*
335C67  Blue
FFF3B0  Lighter Yellow
E09F3E  Dark Yellow
9E2A2B  Lighter Red
540B0E  Dark Red
*/
body{
    background-color: #540B0E;
}
.itemList{
    color: pink;
}
.itemList .li{
    color:red ;
}
.itemList h1{
    color:#540B0E ;
}
button{
    color: #540B0E; 
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    padding: 3%;
    background-color: #FFF3B0 ;
    transition-duration: 0.4s;
    font-size: x-large;
}
button:hover {
    background-color: gray; /* Green */
    color: #9E2A2B;
  }
.itemList li{
    list-style: 'none';
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: .075fr;
    height: 90%;
    background-color: #FFF3B0;
    text-align: center;
    
    justify-content: center;
}
.itemList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 5%;
    padding-left: 5%;
    margin: 1%;
  color: inherit;
  text-decoration: inherit;
}
image{
    padding: 20%;
    margin: 20%;
    
}
